<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui"
 template="/template/templatenude.xhtml">
<ui:param name="page_name" value="Accueil" />
<ui:define name="content"> 
<!-- BEGIN : TP1 JSF Introduction Login --> 





<h:head>


		<link href="../../resources/assets/css/vendor.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/font-awesome.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/theme-blue-orange_red.css"  rel="stylesheet" />
		<link href="../..resources/assets/css/custom.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/ie-fix.css"  rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" type="image/x-icon" />

</h:head>











<h:body>

  
        
            
             <div class="box js-box">
           
		<h:panelGroup rendered="#{not empty userController.authenticatedUser.id}">
				<ui:include src="/template/navbar.xhtml" />
		</h:panelGroup>
		<h:panelGroup rendered="#{empty userController.authenticatedUser.id}">
		  
		         <ui:include src="/template/navbarUnknown.xhtml" />
		
		</h:panelGroup> 
           
           
           
 			
			
<h:panelGroup>

			
<h:panelGroup columns="2">
<h:form>
<table> 


  <tr><td><h:outputText value="Title"></h:outputText></td> 
  <td><h:inputText value="#{annonceController.title}"></h:inputText></td></tr>
   <tr><td><h:outputText value="Description"></h:outputText></td>
    <td><h:inputText value="#{annonceController.description}"></h:inputText></td></tr> 
    <tr><td><h:outputText value="#{annonceController.createdAt}"></h:outputText></td></tr>
<tr><td><h:outputText value="Adresse"></h:outputText></td><td><h:inputText 
value="#{annonceController.adresse}"></h:inputText></td></tr> 

    
    <tr> 
    <td><h:outputText value="Role"></h:outputText></td> 
    <td><h:selectOneMenu value="#{annonceController.type}"> 
    <f:selectItem itemLabel="Choisir le Role" itemValue="#{null}" /> 
    <f:selectItems value="#{annonceController.states}" /> 
    </h:selectOneMenu></td> 
    </tr>
    
    
	
    
    
    
    
    <tr><td colspan="2"> <h:commandButton value="Ajouter Annonce" action="#{annonceController.ajouterAnnonce()}"  />   
     
    <h:commandButton value="Mettre A jour Annonce" action="#{annonceController.updateAnnonce()}" /> </td> </tr>
    
    </table>
    </h:form>
    </h:panelGroup>
		  
    
    
    <h:panelGroup columns="2"> 
    <h:form> 
    <h:dataTable value="#{annonceController.annonces}" var="annonce" border="1">
	<h:column><f:facet name="header"><h:outputText value="Title" /></f:facet> 
	<h:outputText value="#{annonce.title}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="Contract Type" /></f:facet> 
	<h:outputText value="#{annonce.contractType}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="Price" /></f:facet> 
	<h:outputText value="#{annonce.price}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="State Price" /></f:facet> 
	<h:outputText value="#{annonce.statePrice}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="Adresse" /></f:facet> 
	<h:outputText value="#{annonce.adresse}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="Country" /></f:facet> 
	<h:outputText value="#{annonce.country}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="City" /></f:facet> 
	<h:outputText value="#{annonce.city}" /></h:column> 
	
	<h:column> 
	<f:facet name="header"><h:outputText value="Action" /></f:facet> 
	<h:commandButton action="#{annonceController.removeAnnonce(annonce.id)}" value="Supprimer" />
	
	<h:commandButton action="#{annonceController.displayAnnonce(annonce)}" value="Afficher" />

	</h:column>
	
	
	
</h:dataTable>
</h:form>
</h:panelGroup>

</h:panelGroup>

 
           
           
           
           
           
     
           
          <h:panelGroup> 
          
          
     <div class="site-wrap js-site-wrap">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="welcomeUser2.jsf" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item"><a href="AnnoncesListing.jsf" class="breadcrumbs__link">Listing estate</a></li>
              <li class="breadcrumbs__item"><a href="AnnoncesListing.jsf" class="breadcrumbs__link">Add listings</a></li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <div class="center">
          <div class="container">
            <div class="row">
              <div class="site site--main">
                <header class="site__header">
                  <h1 class="site__title">Add or edit listing</h1>
                  <h2 class="site__headline">Add and edit listing information</h2>
                </header>
                <div class="site__panel"><span class="site__header-text">Flexible configuration and editing forms, add and edit listing information, photos and location of the position</span></div>
                <div class="site__main">
                  <form class="form form--flex form--property-add js-form js-form-property">
                  
                   <h:panelGroup >
					<h:form>			
									
                    <div class="widget js-widget widget--main widget--no-margin widget--no-border widget--collapse">
                      <div class="widget__header">
                        <h2 class="widget__title">Basic information</h2>
                        <h5 class="widget__headline">You should fill all this fields.</h5>
                      </div>
                      <div class="widget__content">
                        <div class="row">
                        
                        	 <div class="form-group">
                          
                            
                            <h:outputText value="Title"></h:outputText> 
 							 <h:inputText value="#{annonceController.title}" class="form-control"  required="true" requiredMessage="Title Mendatory" ></h:inputText>
 							 
 							 
                          </div>
                          
                          <div class="form-group">
                            <label for="in-1" class="control-label">Contract Type</label>
                            
                              
                              
								    <h:selectOneMenu value="#{annonceController.contractType}"    class="form-control js-in-select"> 
								    <f:selectItem itemLabel="Choose your Contract Type" itemValue="#{null}" /> 
								    <f:selectItems value="#{annonceController.contractTypes}" /> 
								    </h:selectOneMenu> 
								   
							 
                          </div> 
                            
	                              		
                          
                          <div class="form-group">
                          
                            
                            <h:outputText value="AREA (M2)"></h:outputText> 
 							 <h:inputText value="#{annonceController.extSurface}"  class="form-control"></h:inputText>
 							 
 							 
                          </div>
                          <div class="form-group">
                            <h:outputText value="Country"></h:outputText> 
 							<h:inputText value="#{annonceController.country}" class="form-control"  required="true" requiredMessage="Country Mendatory" ></h:inputText>
                             
                            
                            <!-- end of block .form-property__control-->
                          </div>
                          <div class="form-group">
                            
							<h:outputText value="City"></h:outputText>
 							<h:inputText value="#{annonceController.city}" class="form-control"  required="true" requiredMessage="City Mendatory" ></h:inputText>
 							 
                            <!-- end of block .form-property__control-->
                          </div>
                          <div class="form-group">
                            <h:outputText value="Adresse"></h:outputText> 
 							<h:inputText value="#{annonceController.adresse}" class="form-control"></h:inputText>
                          </div>
                          <div class="form-group">
                           
							<h:outputText value="Price"></h:outputText>
 							<h:inputText value="#{annonceController.price}" class="form-control"  required="true" requiredMessage="Price Mendatory" ></h:inputText>
 							 
                          </div>
                          <div class="form-group">
                            <label for="in-8" class="control-label">State Price</label>
                           

								
									   
								  <h:selectOneMenu value="#{annonceController.statePrice}"    class="form-control js-in-select"> 
								    <f:selectItem itemLabel="Is your price negociable or final?" itemValue="#{null}" /> 
								    <f:selectItems value="#{annonceController.statePrices}" /> 
								    </h:selectOneMenu>
							 
							 
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <div class="widget js-widget widget--main widget--no-margin widget--no-border widget--collapse">
                      <div class="widget__header">
                        <h2 class="widget__title">Listing</h2>
                      </div>
                      <div class="widget__content">
                        <div class="row">
                          <div class="form-group">
                            
                             <h:outputText value="Number of Rooms" class="control-label"></h:outputText> 
 							<h:inputText value="#{annonceController.numberRooms}" class="form-control"></h:inputText>
                             
                          </div>
                          <div class="form-group">
                             <h:outputText value="Number of Bathrooms" class="control-label"></h:outputText> 
 							<h:inputText value="#{annonceController.numberBathrooms}" class="form-control"></h:inputText>
                          </div>
                          <div class="form-group">
                           <h:outputText value="Number of Garages" class="control-label"></h:outputText> 
 							<h:inputText value="#{annonceController.numberGarages}" class="form-control"></h:inputText>
                          </div>
                          <div class="form-group form-group--col-12">
                           <h:outputText value="Description" class="control-label"></h:outputText> 
 							<h:inputText  value="#{annonceController.description}" class="form-control"  data-parsley-trigger="keyup" data-parsley-minlength="200" data-parsley-validation-threshold="10" data-parsley-minlength-message="You need to enter at least a 200 caracters long comment.."></h:inputText>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="widget js-widget widget--main widget--no-margin widget--no-border widget--collapse">
                      <div class="widget__header">
                        <h2 class="widget__title">Location</h2>
                        <h5 class="widget__headline">Google Maps is a desktop and mobile web mapping service application and technology provided by Google.</h5>
                      </div>
                      <div class="widget__content">
                        <div class="map map--location map--dashboard map--submit js-map-location-dashboard-submit">
                          <div class="map__header">
                            <button type="button" class="btn--link js-remove-overlays">Delete selected shape</button>
                          </div>
                          <div class="map__block">
                            <div class="row map__autocomplete">
                              <div class="form-group form-group--autocomplete">
                                <label for="autocomplete-dashboard submit" class="control-label">GPS Mapping</label>
                                <input type="text"  class="form-control js-autocomplete"></input>
                              </div>
                              <button type="button" class="map__geolocation js-geolocate">
                                
                              </button>
                            </div>
                            <div class="map__buttons">
                              <button type="button" class="map__change-map js-map-btn">Address Map</button>
                            </div>
                            <div class="map__wrap">
                              <div data-infobox-theme="white" class="map__view map__view--property-form js-map"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group form-group--coords">
                              <label for="location-lat-dashboard submit" class="control-label">Lat</label>
                              <input type="text" placeholder="" id="location-lat-dashboard submit" class="form-control js-location-coords"/>
                            </div>
                            <div class="form-group form-group--coords">
                              <label for="location-lng-dashboard submit" class="control-label">Lng</label>
                              <input type="text" placeholder="" id="location-lng-dashboard submit" class="form-control js-location-coords"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                   
                    	
                    	
                    	
                    
                    <div class="widget js-widget widget--main widget--no-margin widget--no-border widget--collapse">
                      <div class="widget__header">
                        <h2 class="widget__title">Photos</h2>
                        <h5 class="widget__headline">Images should have maximum size 1Mb</h5>
                      </div>
                      <div class="widget__content">
                        <div class="form-property__upload"><span class="form-property__upload-title">Upload main photo:</span>
                          <div class="form-property__upload-border">
                            <input type="file"  class="form-property__upload-btn-choose"></input>
                          </div>
                        </div>
                        <div  class="dropzone dropzone--submit"></div>
                      </div>
                    </div>
                    
                    
                    <h5 class="form-property__condition">If you have filled in all the fields and are confident of the correctness of all information, click on the button below to save data</h5>
                    <div class="row">
                    
                    
                       <h:commandButton value="Add property" action="#{annonceController.ajouterAnnonce()}"  class="form__submit" />   
                      
                    </div>
                    
                    </h:form>
                    </h:panelGroup>
                  </form>
                </div>
              </div>
              
              
              
              
              
              <div class="sidebar">
              
              
              
                <div class="widget js-widget widget--sidebar widget--dark">
                  <div class="widget__header">
                    <h2 class="widget__title">Popular estate</h2>
                    <h5 class="widget__headline">Find your apartment or house on the exact key parameters.</h5><a class="widget__btn js-widget-btn widget__btn--toggle">Show properties</a>
                  </div>
                  <div class="widget__content">
                    <div class="listing listing--sidebar">
                    
                    <ui:repeat  value="#{annonceController.annonces}" var="annonce" >
                    
                      <div class="listing__item">
                        <div class="properties properties--sidebar">
                          <div class="properties__thumb"><a  class="item-photo item-photo--static"><img src="../../ressources/assets/media-demo/properties/554x360/02.jpg" alt=""/>
                              <span class="item-photo__more">View Details <h:commandLink action = "#{userController.gotoHomepageUser()}" value = "#{annonce.title}" ></h:commandLink></span>
                              </a> 
                          </div>
                          <!-- end of block .properties__thumb-->
                          <div class="properties__details">
                          <h:form>
                          <br></br>
                            <h:commandLink action = "#{userController.gotoHomepageUser()}" value = "#{annonce.title}" >
                            
                            
                            </h:commandLink>
   							</h:form>
   							
                          </div>
                          <!-- end of block .properties__info-->
                        </div>
                        <!-- end of block .properties__item-->
                      </div>
                  </ui:repeat>
                    </div>
                  </div>
                </div>
                
              </div>
              
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        
        
        <ui:include src="/template/footer.xhtml" />
      </div> 

    </h:panelGroup>       

	
	</div>




<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,drawing,geometry"></script>
    <script type="text/javascript" src="http://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/vendor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/demodata.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/app.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/demo.js"></script>
    
   
    
    </h:body>
    
</ui:define>
</ui:composition>



           