<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 xmlns:p="http://primefaces.org/ui"
 template="/template/templatenude.xhtml">
<ui:param name="page_name" value="Accueil" />
<ui:define name="content"> 
<!-- BEGIN : TP1 JSF Introduction Login --> 





<h:head>


		<link href="../../resources/assets/css/vendor.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/font-awesome.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/theme-blue-orange_red.css"  rel="stylesheet" />
		<link href="../..resources/assets/css/custom.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/ie-fix.css"  rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" type="image/x-icon" />

</h:head>




<body>

  
  
    
		
            
         <div class="box js-box">
         
        <h:panelGroup rendered="#{not empty userController.authenticatedUser.id}">
				<ui:include src="/template/navbar.xhtml" />
		</h:panelGroup>
		<h:panelGroup rendered="#{empty userController.authenticatedUser.id}">
		  
		         <ui:include src="/template/navbarUnknown.xhtml" />
		
		</h:panelGroup>
        
          
          
          
         <div class="site-wrap js-site-wrap">
        <!-- BEGIN BREADCRUMBS-->
        <nav class="breadcrumbs">
          <div class="container">
            <ul>
              <li class="breadcrumbs__item"><a href="welcomeUser2.jsf" class="breadcrumbs__link">Home</a></li>
              <li class="breadcrumbs__item"><a href="AnnoncesListing.jsf" class="breadcrumbs__link">Listing estate</a></li>
              <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">#{annonceController.title} </a></li>
            </ul>
          </div>
        </nav>
        <!-- END BREADCRUMBS-->
        <div class="center">
          <div class="container">
            <div class="row">
              <div class="site site--main">
                <!-- BEGIN PROPERTY DETAILS-->
                <div class="property">
                  <h1 class="property__title"> #{annonceController.title} <span class="property__city"> #{annonceController.adresse}</span></h1>
                  <div class="property__header">
                    <div class="property__price"><strong class="property__price-value">  #{annonceController.price} </strong><span class="property__price-label">Inclusive TVA</span></div>
                   
                    <div class="property__actions">
                      <button type="button" class="btn--default"><i class="fa fa-refresh"></i>Request Visit</button>
                      
                      <h:panelGroup rendered="#{not empty userController.authenticatedUser.id and  userController.authenticatedUser.id == annonceController.user.id }">
									 				
									          <h:commandButton action="#{annonceController.updateAnnonce()}" value="Update"    class="btn--default"   ></h:commandButton>
									          <h:commandButton action="#{annonceController.removeAnnonce(annonceController.id)}" value="Delete"    class="btn--default" />
									</h:panelGroup>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="property__slider">
                    <div class="property__ribon">For #{annonceController.contractType} </div>
                    <div class="property__ribon property__ribon--status property__ribon--done">transaction-related</div>
                                    <div id="properties-thumbs" class="slider slider--small js-slider-thumbs">
                                      <div class="slider__block js-slick-slider">
                                        <div class="slider__item slider__item--0"><a href="../../resources/assets/media-demo/properties/1740x960/01.jpg" data-size="1740x960" data-gallery-index='0' class="slider__img js-gallery-item"><img data-lazy="../../resources/assets/media-demo/properties/1740x960/01.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img><span class="slider__description">Awesome Kitchen!!! Spacious kitchen with a granite counter tops, stainless steel appliances, hardwood floors, and plenty of cupboard space. On the other hand, a nicely designed feature sheet can create a quality, professional brand for your property, attracting more buyers who are interested in the benefits that the property can offer.</span></a></div>
                                        <div class="slider__item slider__item--1"><a href="../../resources/assets/media-demo/properties/1740x960/02.jpg" data-size="1740x960" data-gallery-index='1' class="slider__img js-gallery-item"><img data-lazy="../../resources/assets/media-demo/properties/1740x960/02.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img><span class="slider__description">2</span></a></div>
                                        <div class="slider__item slider__item--2"><a href="../../resources/assets/media-demo/properties/1740x960/03.jpg" data-size="1740x960" data-gallery-index='2' class="slider__img js-gallery-item"><img data-lazy="../../resources/assets/media-demo/properties/1740x960/03.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img><span class="slider__description">3</span></a></div>
                                        <div class="slider__item slider__item--3"><a href="../../resources/assets/media-demo/properties/1740x960/04.jpg" data-size="1740x960" data-gallery-index='3' class="slider__img js-gallery-item"><img data-lazy="../../resources/assets/media-demo/properties/1740x960/04.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""> </img><span class="slider__description">Ok</span></a></div>
                                        <div class="slider__item slider__item--0"><a href="../../resources/assets/media-demo/properties/1740x960/08.jpg" data-size="1740x960" data-gallery-index='8' class="slider__img js-gallery-item"><img data-lazy="../../resources/assets/media-demo/properties/1740x960/08.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img><span class="slider__description">The end</span></a></div>
                                      </div>
                                    </div>
                                    <div class="slider slider--thumbs">
                                      <div class="slider__wrap">
                                        <div class="slider__block js-slick-slider">
                                          <div data-slide-rel='0' class="slider__item slider__item--0">
                                            <div class="slider__img"><img data-lazy="../../resources/assets/media-demo/properties/277x180/01.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img></div>
                                          </div>
                                          <div data-slide-rel='1' class="slider__item slider__item--1">
                                            <div class="slider__img"><img data-lazy="../../resources/assets/media-demo/properties/277x180/02.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img></div>
                                          </div>	
                                          <div data-slide-rel='2' class="slider__item slider__item--2">
                                            <div class="slider__img"><img data-lazy="../../resources/assets/media-demo/properties/277x180/03.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img></div>
                                          </div>
                                          <div data-slide-rel='3' class="slider__item slider__item--3">
                                            <div class="slider__img"><img data-lazy="../../resources/assets/media-demo/properties/277x180/04.jpg" src="../../resources/assets/img/lazy-image.jpg" alt=""></img></div>
                                          </div>
                                         
                                        </div>
                                        <button type="button" class="slider__control slider__control--prev js-slick-prev">
                                          <svg class="slider__control-icon">
                                            <use href="#icon-arrow-left"></use>
                                          </svg>
                                        </button>
                                        <button type="button" class="slider__control slider__control--next js-slick-next">
                                          <svg class="slider__control-icon">
                                            <use href="#icon-arrow-right"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                  </div>
                  <div class="property__info">
                    <div class="property__info-item">Property type: <strong> Apartment</strong></div>
                    <div class="property__info-item">Built Up: <strong> 265 Sq Ft</strong></div>
                    <div class="property__info-item">Date: <strong> 11/03/2016</strong></div>
                    <div class="property__info-item">Land Size: <strong> 100 Sq Ft</strong></div>
                  </div>
                  <div class="property__plan">
                    <dl class="property__plan-item">
                      <dt class="property__plan-icon">
                        <svg>
                          <use href="#icon-area"></use>
                        </svg>
                      </dt>
                      <dd class="property__plan-title">Area</dd>
                      <dd class="property__plan-value">120</dd>
                    </dl>
                    <dl class="property__plan-item">
                      <dt class="property__plan-icon property__plan-icon--window">
                        <svg>
                          <use href="#icon-window"></use>
                        </svg>
                      </dt>
                      <dd class="property__plan-title">Bedrooms</dd>
                      <dd class="property__plan-value">#{annonceController.numberRooms}</dd>
                    </dl>
                    <dl class="property__plan-item">
                      <dt class="property__plan-icon property__plan-icon--bathrooms">
                        <svg>
                          <use href="#icon-bathrooms"></use>
                        </svg>
                      </dt>
                      <dd class="property__plan-title">Bathrooms</dd>
                      <dd class="property__plan-value">#{annonceController.numberBathrooms}</dd>
                    </dl>
                    <dl class="property__plan-item">
                      <dt class="property__plan-icon">
                        <svg>
                          <use href="#icon-bedrooms"></use>
                        </svg>
                      </dt>
                      <dd class="property__plan-title">Beds</dd>
                      <dd class="property__plan-value">#{annonceController.numberRooms}</dd>
                    </dl>
                    <dl class="property__plan-item">
                      <dt class="property__plan-icon property__plan-icon--garage">
                        <svg>
                          <use href="#icon-garage"></use>
                        </svg>
                      </dt>
                      <dd class="property__plan-title">Garages</dd>
                      <dd class="property__plan-value">#{annonceController.numberGarages}</dd>
                    </dl>
                  </div>
                  
                 
                  <div class="property__description js-unhide-block">
                    <h4 class="property__subtitle">Description</h4>
                    <div class="property__description-wrap">
                      
                      #{annonceController.description}
                      
                    </div>
                    <button type="button" class="property__btn-more js-unhide">More information ...</button>
                  </div>
                  <div class="widget js-widget widget--details">
                    <div class="widget__content">
                      <div class="map map--properties">
                        <div class="map__buttons">
                          <button type="button" class="map__change-map js-map-btn active">Property Map</button>
                          <button type="button" class="map__change-panorama js-panorama-btn">Street view</button>
                        </div>
                        <div class="map__wrap">
                          <div data-type="map" class="map__view js-map-canvas"></div>
                          <div data-type="panorama" class="map__view map__view--panorama js-map-canvas"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="widget js-widget widget--details">
                    <div class="widget__content">
                      <div data-sr="enter bottom move 80px, scale(0), over 0s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--list worker--details">
                        <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="../../resources/assets/media-demo/workers/worker-1.jpg" alt="Christopher Pakulla" class="photo"/>
                            <figure class="item-photo__hover"><span class="item-photo__more">View Details</span></figure></a></div>
                        <div class="worker__intro">
                          <div class="worker__intro-head">
                            <div class="worker__intro-name">
                              <h3 class="worker__name fn">#{annonceController.user.nom}</h3>
                              <div class="worker__post">Realtor, West USA Realty</div>
                            </div>
                            <div class="worker__intro-brand"><a class="worker__company"><img src="../../resources/assets/media-demo/partners/logo-company-proera.png" alt="pro"/></a>
                              <div class="worker__company-name">Pro Era West Realty</div>
                            </div>
                            <!-- end of block .worker__listings-->
                          </div>
                          <button type="button" class="worker__show js-unhide">Contact agent</button>
                          <div class="worker__intro-row">
                            <div class="worker__intro-col">
                              <div class="worker__contacts">
                                <div class="tel"><span class="type">Tel.</span><a href="tel:+44(0)2035102390" class="uri value">+44 (0) 20 3510 2390</a></div>
                               </div>
                              <!-- end of block .worker__contacts-->
                            </div>
                            <div class="worker__intro-col">
                              <div class="social social--worker"><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-linkedin"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                          </div>
                          <div class="worker__intro-row">
                            <div class="worker__descr">
                              <p>
                                I m an entrepreneur who loves to travel and splits time between New York and Los Angeles. 
                                Believer in the golden rule: Do unto others as you would have them do unto you. 
                             
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <!-- end of block .worker-->
                     
                      
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <!-- end of block .property-->
                <!-- END PROPERTY DETAILS-->
            
            
            
            
        
        
        
                         <div class="comment">
                          <h3 class="comment__headline">Comments (#{annonceRevController.countReviews(annonceController.annonceReviews)})</h3>
                          <div class="comment__wrap">
                            <ul class="comment__list">
                            
                              
                              
                              <ui:repeat value="#{annonceController.annonceReviews}" var="annonceReview">
                              
                              <li class="comment__item">
                                <div class="comment__item-body js-comment-item">
                                  <div class="comment__avatar"><img src="../../resources/assets/media-demo/avatars/02.jpg" alt=""></img></div>
                                  <div class="comment__item-right">
                                    <button class="comment__item-btn">Edit</button>
                                       <h:form>
                         				<h:commandLink action = "#{annonceRevController.deleteAnnonceReviewById(annonceReview.id)}" value = "Delete" id="btn" class="properties__link" ></h:commandLink>
                         			   </h:form>
                                  </div>
                                  <div class="comment__info"><span class="comment__author">#{annonceReview.user.nom} </span><span class="comment__date">Oct 3, 2014 at 3:23pm</span>
                                    <div class="comment__content">
                                    
                                    #{annonceReview.text}
                                     
									</div>
                                   
                                  </div>
                                </div>
                           
                              </li>
                              
                              </ui:repeat>
                           
                            
                              
                              
                            </ul>
                            <div class="comment__footer">
                              <!-- BEGIN PAGINATION-->
                              <nav class="listing__pagination">
                                <ul class="pagination-custom">
                                  <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a></li>
                                  <li><a href="#">1</a></li>
                                  
                                  <li class="active-before"><a href="#">2</a></li>
                                 
                                  <li><span>...</span></li>
                                  <li><a href="#">5</a></li>
                                  <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a></li>
                                </ul>
                              </nav>
                              <!-- END PAGINATION-->
                              <div class="comment__form">
                                <h3 class="comment__form-title">Leave a comment</h3>
                                <div class="comment__form js-form-comment-wrap">
                                
                               
								
                                  <form action="#" class="form form--flex js-parsley form--comment"><span class="comment__form-headline"></span>
                                   <h:panelGroup columns="2">
									<h:form>
                                    <div class="row">
                                      <div class="form-group form-group--col-6">
                                        <label for="in-comment-name" class="form__label control-label ">  #{userController.authenticatedUser.prenom} _  #{userController.authenticatedUser.nom}</label>
                                     
                                      </div>
                                      

	
                                      <div class="form-group">
                                        <h:inputText value="#{annonceRevController.text}" id="in-comment-message"  class="form-control form__in form__in--textarea"></h:inputText>
                                      </div>
                                    </div>
                                    <div class="row row--buttons">
                                     
                                       <h:commandButton value="Post Comment" action="#{annonceRevController.ajouterAnnonceRev()}"   type="submit" class="form__submit" />
                                    </div>
                                    
                                    </h:form>
   								 </h:panelGroup>
                                  </form>
                                  
	
                                </div>
                                <!-- end of block .comment__form-->
                              </div>
                            </div>
                          </div>
                        </div>
        
        
         
         
         
         
         			
<h:panelGroup>

<h:outputText value="Bonjour #{annonceController.currentAnnonce.title} " />
<h:outputText value="Bonjour #{userController.authenticatedUser.prenom} #{userController.authenticatedUser.nom}" />
	
	
    
    
   <h:panelGroup columns="2"> 
    <h:form> 
    <h:dataTable value="#{annonceController.annonceReviews}" var="annonceReview" border="1">
	<h:column><f:facet name="header"><h:outputText value="Login (Email)" /></f:facet> 
	<h:outputText value="#{annonceReview.text}" /></h:column> 
	<h:column><f:facet name="header"><h:outputText value="Login (Email)" /></f:facet> 
	<h:outputText value="#{annonceReview.createdAt}" /></h:column> 
	
	<h:column><f:facet name="header"><h:outputText value="Login (Email)" /></f:facet> 
		<h:outputText value="#{annonceRevController.countReviews(annonceController.annonceReviews)}" /></h:column> 
	
	
	
	<h:column> 
	<f:facet name="header"><h:outputText value="Action" /></f:facet> 
	<h:commandButton action="#{annonceRevController.deleteAnnonceReviewById(annonceReview.id)}" value="Supprimer" />
	
	<h:commandButton action="#{annonceRevController.displayAnnonceReview(annonceReview)}" value="Afficher" />

	</h:column>
	
	
	
</h:dataTable>
</h:form>
</h:panelGroup>

</h:panelGroup>

         
         
         
         
         
         
        
        </div>
        
        
       </div>
          </div>
        </div>
        <ui:include src="/template/footer.xhtml" />
        </div>     
        </div>
        
        
        
        
        
         
          

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,drawing,geometry"></script>
    <script type="text/javascript" src="http://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/vendor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/demodata.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/app.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/demo.js"></script>
    
   
    
    </body>
    
</ui:define>
</ui:composition>
