<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 

<h:head>
<title>#{page_name}</title>
</h:head>






<body>
<style type="text/css">
    .logo {
        width: 5%
    }
     
    .detail {
        width: 95%;
        padding-left: 25px;
    }
     
    .detail td {
        font-size: 24px;
    }
     
    .ui-datascroller .ui-datascroller-item {
        border-bottom: 1px solid #A8A8A8;
        padding: 25px 10px;
        /* with the exported variables from Nova and Luna Themes*/
        border-bottom-color: var(--input-border-color, #A8A8A8);
    }
</style>
<h:form> 
    <p:dataScroller value="#{dataScrollerView.visitReelles}" var="vr" chunkSize="10">
        <f:facet name="header">
            Scroll Down to Load More Cars
        </f:facet>
 
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            <!--p:graphicImage name="demo/images/car/#{car.brand}-big.gif" /--> 
 
            <p:outputPanel>
 <h1>Le titre de ma page</h1>
<h2>Ma superbe photo 360:</h2>
<!-- <iframe width="90%" height="500px" allowFullScreen="true" style="display:block; margin:20px auto; border:0 none; max-width:880px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;" src="https://panoraven.com/embed/gdeKAhiKkO"></iframe> -->
<iframe width="90%" height="500px" allowFullScreen="true" style="display:block; margin:20px auto; border:0 none; max-width:880px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;" src="https://panoraven.com/slider/gdeKAhiKkO"></iframe>
<!-- <iframe loading="lazy" id="iframeplayer" src="https://envisite.net/vtour/fr/sitez1/frame" width="300" height="700" allowfullscreen="allowfullscreen" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://envisite.net/vtour/fr/sitez1/frame" class="lazyloaded" data-was-processed="true"></iframe> -->
    <p:growl id="messages" showDetail="true" />
 
    <h:panelGrid columns="2" cellpadding="5">
        <h:outputText value="Avis:" />
        <p:rating value="#{ratingView.rating1}" />
        </h:panelGrid>
        <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" style="margin:5px" />
        
 
    <p:dialog header="Values" widgetVar="dlg" showEffect="fade" hideEffect="fade">
        <h:panelGrid id="display" columns="2" cellpadding="5">
            <h:outputText value="Rating 1:" />
            <h:outputText value="#{ratingView.rating1}" />
 
           <!--  <h:outputText value="Rating 2:" />
            <h:outputText value="#{ratingView.rating2}" />
 
            <h:outputText value="Rating 3:" />
            <h:outputText value="#{ratingView.rating3}" /> -->
        </h:panelGrid>
    </p:dialog>
       </p:outputPanel>
        </h:panelGrid>
    </p:dataScroller>

</h:form>
</body>
</html>






 