
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 template="/template/template.xhtml">
<ui:param name="page_name" value="Accueil" />
<ui:define name="content"> 
<!-- BEGIN : TP1 JSF Introduction Login --> 

<html>



<head>
	<title>Virtuelle</title>
	
		<!-- <ui:remove src="../../template/header.xhtml" /> -->
		
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" /> -->
    <!-- Loading Source Sans Pro font that is used in this theme-->
<!-- <link href="../../resources/assets/css/vendor.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/font-awesome.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/theme-light_blue-beige.css"  rel="stylesheet" />
		<link href="../..resources/assets/css/custom.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/ie-fix.css"  rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" type="image/x-icon" /> -->

</head>


<body>

 <h1>Le titre de ma page</h1>
<h2>Ma superbe photo 360:</h2>
<!-- <iframe width="90%" height="500px" allowFullScreen="true" style="display:block; margin:20px auto; border:0 none; max-width:880px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;" src="https://panoraven.com/embed/gdeKAhiKkO"></iframe> -->
<!-- <iframe width="90%" height="500px" allowFullScreen="true" style="display:block; margin:20px auto; border:0 none; max-width:880px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 20px, rgba(0, 0, 0, 0.23) 0px 3px 20px;" src="https://panoraven.com/slider/gdeKAhiKkO"></iframe> -->
<iframe loading="lazy" id="iframeplayer" src="https://envisite.net/vtour/fr/sitez1/frame" width="300" height="700" allowfullscreen="allowfullscreen" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://envisite.net/vtour/fr/sitez1/frame" class="lazyloaded" data-was-processed="true"></iframe>

  
    </body>
    
    </html>
</ui:define>
</ui:composition>
 