<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 

<h:head>
<title>#{page_name}</title>
</h:head>






<body>
<style type="text/css">
    .logo {
        width: 5%
    }
     
    .detail {
        width: 95%;
        padding-left: 25px;
    }
     
    .detail td {
        font-size: 24px;
    }
     
    .ui-datascroller .ui-datascroller-item {
        border-bottom: 1px solid #A8A8A8;
        padding: 25px 10px;
        /* with the exported variables from Nova and Luna Themes*/
        border-bottom-color: var(--input-border-color, #A8A8A8);
    }
</style>
 
 
<h:form> 
    <p:dataScroller value="#{dataScrollerView.visitReelles}" var="vr" chunkSize="10">
        <f:facet name="header">
            Scroll Down to Load More Cars
        </f:facet>
 
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            <!--p:graphicImage name="demo/images/car/#{car.brand}-big.gif" /--> 
 
            <p:outputPanel>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Name:" />
                    <h:outputText value="#{vr.firstname} #{vr.lastname}" style="font-weight: bold"/>
 
                    <h:outputText value="Date:" />
                    <h:outputText value="#{vr.date}" style="font-weight: bold"/>
 
                    <h:outputText value="Address:" />
                    <h:outputText value="#{vr.street}, #{vr.city} #{vr.postalCode}" style="font-weight: bold"/>
                    
                    <p:commandButton value="Show" action="#{userWizard.update}"
						process="@this" />
						
					<p:commandButton value="Delete" action="#{dataScrollerView.delete(vr.id)}"
						process="@this" />
                </h:panelGrid>
            </p:outputPanel>
        </h:panelGrid>
    </p:dataScroller>
</h:form>
</body>
</html>






 