<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 

<h:head>
<title>#{page_name}</title>
</h:head>






<body>
<p:growl id="growl" showSummary="true" showDetail="true" keepAlive="true" life="3000">
    <p:autoUpdate />
</p:growl>
 
<h:form>            

 
    <h3>AutoResize</h3>
    <p:inputTextarea rows="6" cols="33"  />
 
    <!-- <h3>Remaining Chars</h3>
    <p:inputTextarea rows="5" cols="30" counter="display" maxlength="10" counterTemplate="{0} characters remaining." autoResize="false" /> -->
    <br />
    <h:outputText id="display" />
    
    

</h:form>
</body>
</html>






 