<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 

<h:head>
<title>#{page_name}</title>
</h:head>






<body>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>


       <p:gmap center="41.381542, 2.122893" zoom="15" type="HYBRID" style="width:100%;height:400px" />
       
       <h:form>
													<h3>Building Identifier</h3>
													<p:inputText />
												</h:form>

												<h:form>
													<h3>First Name</h3>
													<p:inputText />
												</h:form>

									
												<h:form>
													<h3>Last Name</h3>
													<p:inputText />
												</h:form>
										
												<h:form>
													<h3>Email Address</h3>
													<p:inputText />

												</h:form>
													 <style type="text/css">
                                                .value {
	                                            font-weight: bold;
                                                        }
                                                     </style> 
												<h:form>
    <h:panelGrid columns="2" cellpadding="5">
    <p:outputLabel for="phone" value="Phone:" />
        <p:inputMask id="phone" value="#{maskView.phone}" mask="(999) 999-9999"/>
          </h:panelGrid>
          <p:dialog widgetVar="dlg" modal="true" resizable="false" header="Values" showEffect="fade"> 
        <p:panelGrid id="display" columns="2" columnClasses="label,value">
         <h:outputText value="Phone: " />
            <h:outputText id="phoneValue" value="#{maskView.phone}" />
              </p:panelGrid>
    </p:dialog>
</h:form>
									
										  <script type="text/javascript">
												PrimeFaces.locales['de'] = {
													closeText : 'Schließen',
													prevText : 'Zurück',
													nextText : 'Weiter',
													monthNames : [ 'Januar',
															'Februar', 'März',
															'April', 'Mai',
															'Juni', 'Juli',
															'August',
															'September',
															'Oktober',
															'November',
															'Dezember' ],
													monthNamesShort : [ 'Jan',
															'Feb', 'Mär',
															'Apr', 'Mai',
															'Jun', 'Jul',
															'Aug', 'Sep',
															'Okt', 'Nov', 'Dez' ],
													dayNames : [ 'Sonntag',
															'Montag',
															'Dienstag',
															'Mittwoch',
															'Donnerstag',
															'Freitag',
															'Samstag' ],
													dayNamesShort : [ 'Son',
															'Mon', 'Die',
															'Mit', 'Don',
															'Fre', 'Sam' ],
													dayNamesMin : [ 'S', 'M',
															'D', 'M ', 'D',
															'F ', 'S' ],
													weekHeader : 'Woche',
													firstDay : 1,
													isRTL : false,
													showMonthAfterYear : false,
													yearSuffix : '',
													timeOnlyTitle : 'Nur Zeit',
													timeText : 'Zeit',
													hourText : 'Stunde',
													minuteText : 'Minute',
													secondText : 'Sekunde',
													currentText : 'Aktuelles Datum',
													ampm : false,
													month : 'Monat',
													week : 'Woche',
													day : 'Tag',
													allDayText : 'Ganzer Tag'
												};
											</script>
											<style type="text/css">
                                                   .value {
	                                               font-weight: bold;
                                                          }
                                             </style>	
									
											<h:form id="form">
                                             <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />
     
                                                <h:panelGrid columns="2" cellpadding="5">
                                                 <p:outputLabel for="event" value="Select Event:" />
                                                     <p:calendar id="event" value="#{calendarView.date4}">
                                                     <p:ajax event="dateSelect" listener="#{calendarView.onDateSelect}" update="msgs" />
                                                       </p:calendar>
                                                         </h:panelGrid>
           
                                               <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
                                                <p:panelGrid id="display" columns="2" columnClasses="label,value">
                                                  <h:outputText value="Event:" />
                                                    <h:outputText value="#{calendarView.date4}">
                                                          <f:convertDateTime pattern="MM/dd/yyyy" />
                                                           </h:outputText>
                                                  
                                                              </p:panelGrid>
                                                           </p:dialog>
                                                          </h:form>




											<style type="text/css">
.value {
	font-weight: bold;
}
</style>

											<h:form>
												<h:panelGrid columns="2" cellpadding="5">
													<p:commandButton value="Reset" type="reset" />
													 <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" />
													
													<!-- <p:commandButton value="Submit" update="display"
														oncomplete="PF('dlg').show()" /> -->
												</h:panelGrid>
											</h:form>
												
</body>
</html>






 