<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 

<h:head>
<title>#{page_name}</title>
</h:head>






<body>
 <script type="text/javascript">
            //<![CDATA[
            function exportChart() {
                //export image
                $('#output').empty().append(PF('chart').exportAsImage());
 
                //show the dialog
                PF('dlg').show();
            }
            //]]>
        </script>
 
        <p:barChart model="#{chartJsView.barModel}"  style="width: 100%; height: 500px;" widgetVar="chart" />
         <br />
 
		<p:commandButton type="button" value="Export" icon="pi pi-home" onclick="exportChart()"/>
		 
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		<p:outputPanel id="output" layout="block" style="width:500px;height:300px"/>
</p:dialog>
</body>
</html>
