
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:ui="http://java.sun.com/jsf/facelets" 
 template="/template/templatenude.xhtml">
<ui:param name="page_name" value="Accueil" />
<ui:define name="content"> 
<!-- BEGIN : TP1 JSF Introduction Login --> 


<h:head>
		<title>Welcome</title>
		
		
		<link href="../../resources/assets/css/vendor.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/font-awesome.css"  rel="stylesheet" />
		
		<link href="../../resources/assets/css/theme-blue-orange_red.css"  rel="stylesheet" />
		
		<link href="../..resources/assets/css/custom.css"  rel="stylesheet" />
		<link href="../../resources/assets/css/ie-fix.css"  rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" />
		<link href="../../resources/assets/img/favicon.ico" rel="stylesheet" type="image/x-icon" />
		
	
		
		
		
	</h:head>











 
  <body class="index menu-default hover-default scroll-animation">
    <!--
   
    For example:
    <use href="#icon-area"></use>
    becomes
    <use href="img/sprite.svg#icon-area"></use>
    
    --><!-- inject:svg -->
    			
     			
    <div class="box js-box">
      <!-- BEGIN HEADER-->
      <header class="header header--overlay header--dark">
        <div class="container">
          <div class="header__row"><a href="index.html" class="header__logo">
              <svg>
                <use href="#icon-logo--mob"></use>
              </svg></a>
            <div class="header__settings">
              <div class="header__settings-column">
                <div class="dropdown dropdown--header">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle dropdown__btn">
                    <svg class="header__settings-icon">
                      <use href="#icon-money"></use>
                    </svg>
                    		<h:panelGroup rendered="#{not annonceController.changecurr}">
									USD
							</h:panelGroup>
							<h:panelGroup rendered="#{ annonceController.changecurr}">
							  
							         Euro
							
							</h:panelGroup>
							
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                    
                    <h:form>
				   	  <li class="dropdown__item"> 
				   	  
   							<h:commandLink action = "#{annonceController.changeCurrency()}" value = "Euro"  class="dropdown__link">
   									   	  
   
  						    	<f:param name = "pageId"  value = "1" />
   							</h:commandLink>
   							</li>
                       </h:form>
                     <li class="dropdown__item">   
                     	<h:form>
   							<h:commandLink action = "#{annonceController.changeCurrency2()}" value = "USD"  class="dropdown__link">
  						    	<f:param name = "pageId" value = "2" />
   							</h:commandLink>
                       </h:form>
                      </li>
				   

                    </ul>
                  </div>
                </div>
              </div>
            
              <div class="header__settings-column">
                <div class="dropdown dropdown--header">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle dropdown__btn">
                    <svg class="header__settings-icon">
                      <use href="#icon-earth"></use>
                    </svg>Eng
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Francais</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Italian</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Russian</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          
           <h:panelGroup rendered="#{empty userController.authenticatedUser.id}">
            <div class="auth auth--header">
              <ul class="auth__nav">
                <li class="dropdown auth__nav-item">
                  <div class="dropdown__menu auth__dropdown--restore">
                    <!-- BEGIN AUTH RESTORE-->
                    <h5 class="auth__title">Reset password</h5>
                    <form action="#" class="form form--flex form--auth form--restore js-restore-form js-parsley">
                      <div class="row">
                        <div class="form-group">
                          <label for="restore-email-dropdown" class="control-label">Enter your User Name or Email</label>
                          <input type="email" name="email" id="restore-email-dropdown"  class="form-control"></input>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="form__submit">Reset password</button>
                      </div>
                      <div class="row">
                        <div class="form__options">Back to
                          <button type="button" class="js-user-login">Log In</button>or
                          <button type="button" class="js-user-register">Registration</button>
                        </div>
                        <!-- end of block .auth__links-->
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH RESTORE-->
                  </div>
                </li>
                <li class="dropdown auth__nav-item">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle js-auth-nav-btn auth__nav-btn">
                    <svg class="auth__icon-user">
                      <use href="#icon-user"></use>
                    </svg><span class="header__span"> Log in /</span>
                  </button>
                  <div class="dropdown__menu auth__dropdown--login">
                    <!-- BEGIN AUTH LOGIN-->
                    <h5 class="auth__title">Login in your account</h5>
                    <form action="#" class="form form--flex form--auth js-login-form js-parsley">
                      <div class="row">
                        <div class="form-group">
                          <label for="login-username-dropdown" class="control-label">Username</label>
                          <input type="text" name="username" id="login-username-dropdown" data-parsley-trigger="keyup" data-parsley-minlength="6" data-parsley-validation-threshold="5" data-parsley-minlength-message="Login should be at least 6 chars" class="form-control"></input>
                        </div>
                        <div class="form-group">
                          <label for="login-password-dropdown" class="control-label">Password</label>
                          <input type="password" name="password" id="login-password-dropdown" class="form-control"></input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form__options form__options--forgot">
                          <button type="button" class="js-user-restore">Forgot password ?</button>
                        </div>
                        <button type="submit" class="form__submit">Sign in</button>
                      </div>
                      <div class="form__remember">
                        <input type="checkbox" id="remember-in-dropdown" class="in-checkbox"></input>
                        <label for="remember-in-dropdown" class="in-label">Remember me</label>
                      </div>
                      <div class="row">
                        <div class="form__options">Not a user yet?
                          <button type="button" class="js-user-register">Get an account</button>
                        </div>
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH LOGIN-->
                  </div>
                </li>
                <li class="dropdown auth__nav-item">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle auth__nav-btn"><span class="header__span">  Sign up</span></button>
                  <div class="dropdown__menu auth__dropdown--register">
                    <!-- BEGIN AUTH REGISTER-->
                    <h5 class="auth__title">Sign up a new account</h5>
                    <form action="#" class="form form--flex form--auth js-register-form js-parsley">
                      <div class="row">
                        <div class="form-group form-group--col-6">
                          <label for="register-name-dropdown" class="control-label">First name</label>
                          <input type="text" name="username" id="register-name-dropdown"  class="form-control"></input>
                        </div>
                        <div class="form-group form-group--col-6">
                          <label for="register-lastname-dropdown" class="control-label">Last name</label>
                          <input type="text" name="name" id="register-lastname-dropdown"  class="form-control"></input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group--col-6">
                          <label for="register-email-dropdown" class="control-label">E-mail</label>
                          <input type="email" name="email" id="register-email-dropdown"  class="form-control"></input>
                        </div>
                        <div class="form-group form-group--col-6">
                          <label for="register-password-dropdown" class="control-label">Password</label>
                          <input type="password" name="password" id="register-password-dropdown"  class="form-control"></input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form__options">Back to
                          <button type="button" class="js-user-login">Log In</button>
                        </div>
                        <button type="submit" class="form__submit">Sign up</button>
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH REGISTER-->
                  </div>
                </li>
              </ul>
              <!-- end of block .auth header-->
            </div>
            </h:panelGroup>
            
            <h:panelGroup rendered="#{not empty userController.authenticatedUser.id}">
            
             <div class="auth auth--header">
              <ul class="auth__nav">
                <li class="dropdown auth__nav-item">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle js-auth-nav-btn auth__nav-btn"><img src="assets/media-demo/avatars/01.jpg" alt="" class="auth__avatar"></img><span class="auth__name"> Hi #{userController.authenticatedUser.nom} #{userController.authenticatedUser.prenom}</span></button>
                  <div class="dropdown__menu auth__dropdown--logged-in js-user-logged-in">
                    <nav class="nav nav--auth">
                      <ul class="nav__list">
                        
                       <h:panelGrid >
                       
                        <h:commandButton type="submit" class="nav__item" id="btn" value="Déconnexion"
					action="#{userController.doLogout()}" />
					</h:panelGrid>
					 <h:form>
   							<h:commandLink type="submit" class="nav__item" action ="#{userController.doLogout()}" value = "Disconnect"  >
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
					
                      </ul>
                    </nav>
                  </div>
                </li>
              </ul>
              <!-- end of block .auth header-->
            </div>
            
            
            </h:panelGroup>
            
            
            
            <button type="button" class="header__navbar-toggle js-navbar-toggle">
              <svg class="header__navbar-show">
                <use href="#icon-menu"></use>
              </svg>
              <svg class="header__navbar-hide">
                <use href="#icon-menu-close"></use>
              </svg>
            </button>
            <!-- end of block .header__navbar-toggle-->
          </div>
        </div>
      </header>
      <!-- END HEADER-->
      
      
      
      
      <!-- BEGIN NAVBAR-->
      <div id="header-nav-offset"></div>
      <nav id="header-nav" class="navbar navbar--header navbar--overlay">
        <div class="container">
          <div class="navbar__row js-navbar-row"><a href="index.html" class="navbar__brand">
              <svg class="navbar__brand-logo">
                <use href="#icon-logo"></use>
              </svg></a>
            <div id="navbar-collapse-1" class="navbar__wrap">
              <ul class="navbar__nav">
                <li class="navbar__item js-dropdown active"><a class="navbar__link">Home
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        
                       <h:form>
   							<h:commandLink action = "#{userController.gotoHomepageUser()}" value = "Page1"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Properties
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <h5 class="navbar__subtitle">Details</h5>
                     
                      <ul class="navbar__subnav">
                    
                     <h:form>
   							<h:commandLink action = "#{userController.gotolistAdvertisement()}" value = "Ads list"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       <h:form>
   							<h:commandLink action = "#{userController.gotoAnnonceAdd()}" value = "Add property"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       <h:form>
   							<h:commandLink action = "#{userController.gotoAnnonceDetail()}" value = "Ad detail"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                           
					</ul>
					
                    </div>
                    
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Agents
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                       
							   <h:form>
   							<h:commandLink action = "#{userController.gotoLogin()}" value = "test"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       <h:form>
   							<h:commandLink action = "#{userController.gotoUserProfile()}" value = "UserProfile"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                      
                      
                     
                    
                       
					</ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">User
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    
                      <div class="navbar__submenu">
                     
                       <h:form>
   							<h:commandLink action = "#{userController.gotoRent()}" value = "Test salsabil"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                   </div>
                    
                   
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Blog
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                       

							 <h:form>
   							<h:commandLink action = "#{userController.gotoBuy()}" value = "Test Eya"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                       
                       </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Pages
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                      
								 <h:form>
   							<h:commandLink action = "#{userController.gotoSubscribe()}" value = "Test Amir"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                       
                     
					</ul>
					</div>
					</div>

						 
                  
                 
                </li>
                
                <li class="navbar__item"><a href="contacts.html" class="navbar__link">Contacts</a>
                
                
                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoMeuble()}" value = "Test Oumema"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                    </ul></div></div>
                  
                </li>  
                <li class="navbar__item js-dropdown"><a class="navbar__link">Dashboard
                    


					<svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                   
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoVirtualVisit()}" value = "Test Chaima"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                     </ul>
                    </div>
                  </div>
                  
                  
                </li>
             
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Language
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">English</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Francais</a></li>
                     
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Currency
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">USD</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">EURO</a></li>
                  
                      </ul>
                    </div>
                  </div>
                </li>
               
              </ul>
              <!-- end of block  navbar__nav-->
            </div>
          </div>
        </div>
      </nav>
      <!-- END NAVBAR-->
      <div class="site-wrap js-site-wrap">
        <div class="widget js-widget">
          <div class="widget__content">
            <div class="banner js-banner banner--wide">
            
              <div style="background-image: url(&quot;../../resources/assets/media-demo/banner/banner-1.jpg&quot;);" class="banner__item">
                <div class="map map--index map--banner">
                  <div class="map__buttons">
                    <button type="button" class="map__change-map js-map-btn">Property Map</button>
                  </div>
                  <div class="map__wrap">
                    <div data-infobox-theme="white" class="map__view js-map-index-canvas"></div>
                  </div>
                  
                </div>
                <div class="container">
                  <div class="row">
                    <div class="banner__caption">
                      <h1 class="banner__title">The Best Way to Find Your Perfect Home</h1>
                      <h3 class="banner__subtitle">With over #{annonceController.countAnnonces(annonceController.annonces)} active listings, Realtyspace has the largest inventory of apartments in the United States.</h3><span class="banner__btn">Get started</span>
                      <div class="banner__arrow-circle">•</div>
                      <svg class="banner__arrow-end js-arrow-end">
                        <use href="#icon-arrow-end"></use>
                      </svg>
                    
                    </div>
                    <div class="banner__search">
                      <h4 class="banner__sidebar-title">The Best Way to Find Your Perfect Home</h4>
                      <!-- BEGIN SEARCH-->
                      
                        <div class="banner__arrow">
                        <svg id="banner-line" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 774 284" enable-background="new 0 0 774 284" xml:space="preserve">
                          <path  fill="none" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="0,2004.009" d="M220.6,239.6
                          c-3.6-15.5-17.5-27.1-34.1-27.1h-150c-19.3,0-35,15.7-35,35c0,19.3,15.7,35,35,35c0,0,88,0,150,0c169,0,244.9-7.5,291-19
                          c41.3-10.2,114.1-33.7,118-83c4.2-53.5-59.4-67.5-102-54c-47.2,15-52.3,78.2,1,90c58.1,12.9,169.6-53.6,274.7-210"/>
                        </svg>
                      </div>
                      
                      <form action="properties_listing_list.html" class="form form--flex form--search js-search-form form--banner-sidebar">
                        <div class="row">
                          <div class="form-group">
                            <label for="in-keyword" class="control-label">Keyword</label>
                            <input type="text" id="in-keyword" placeholder="Text" class="form-control"></input>
                          </div>
                          <div class="form-group">
                            <label for="in-contract-type" class="control-label">Listing Type</label>
                            <select id="in-contract-type" data-placeholder="Contract type" class="form-control">
                              <option label=" "></option>
                              <option>Sale</option>
                              <option>Rent</option>
                            </select>
                          </div>
                          <div class="form-group"><span class="control-label">Property type</span>
                            <div class="dropdown dropdown--select">
                              <button type="button" data-toggle="dropdown" data-placeholder="Property type" class="dropdown-toggle js-select-checkboxes-btn">Property type</button>
                              <div class="dropdown-menu js-dropdown-menu js-select-checkboxes">
                                <ul>
                                  <li>
                                    <input id="checkbox_type_1" type="checkbox" name="checkbox_type_1" class="in-checkbox"></input>
                                    <label for="checkbox_type_1" data-toggle="tooltip" data-placement="left" title="Tooltip on top" class="in-label">Privat apartment</label>
                                  </li>
                                  <li>
                                    <input id="checkbox_type_2" type="checkbox" name="checkbox_type_2" class="in-checkbox"></input>
                                    <label for="checkbox_type_2" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="in-label">Apartment</label>
                                  </li>
                                
                               
                                </ul>
                                <!-- end of block .dropdown-menu-->
                              </div>
                            </div>
                          </div>
                          <div class="form-group"><span class="control-label">Location level 1</span>
                            <div class="dropdown dropdown--select">
                              <button type="button" data-toggle="dropdown" data-placeholder="States" class="dropdown-toggle js-select-checkboxes-btn">States</button>
                              <div class="dropdown-menu js-dropdown-menu js-select-checkboxes">
                                          <div class="region-select">
                                            <ul class="js-checkboxes-tree bonsai region-select__list">
                                              <li>
                                                          <input type="checkbox" name="location[]" value="Fresno" id="region-select-states-0" class="in-checkbox"></input>
                                                          <label for="region-select-states-0" data-toggle="tooltip" data-placement="top" title="Fresno" class="in-label">Fresno</label>
                                                <ul>
                                                  <li>
                                                              <input type="checkbox" name="location[]" value="Clovis" id="region-select-states-1" class="in-checkbox"></input>
                                                              <label for="region-select-states-1" data-toggle="tooltip" data-placement="top" title="Clovis" class="in-label">Clovis</label>
                                                  </li>
                                                 
                                                </ul>
                                              </li>
                                           
                                             
                                            </ul>
                                            <div class="region-select__buttons">
                                              <button type="button" class="region-select__btn region-select__btn--reset js-select-checkboxes-reset">Clear</button>
                                              <button type="button" class="region-select__btn js-select-checkboxes-accept">Accept</button>
                                            </div>
                                          </div>
                                          <!-- end of block .region-select-->
                              </div>
                              <!-- end of block .dropdown-menu-->
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="in-datetime" class="control-label">Date Range</label>
                            <input type="text" id="in-datetime" data-start-date="12/03/2015" data-end-date="12/22/2015" data-time-picker="true" data-single-picker="false" class="js-datetimerange form-control"></input>
                          </div>
                          <div class="form-group">
                            <div class="form__mode">
                              <button type="button" data-mode="input" class="form__mode-btn js-input-mode">Input</button>
                            </div>
                            <label for="range_price" class="control-label">Price</label>
                            <div class="form__ranges">
                              <input id="range_price" class="js-search-range form__ranges-in"></input>
                            </div>
                            <div class="form__inputs js-search-inputs">
                              <input type="text" id="in-price-from" placeholder="From" data-input-type="from" class="form-control js-field-range"></input>
                              <input type="text" id="in-price-to" placeholder="To" data-input-type="to" class="form-control js-field-range"></input>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form__mode">
                              <button type="button" data-mode="input" class="form__mode-btn js-input-mode">Input</button>
                            </div>
                            <label for="range_area" class="control-label">Area</label>
                            <div class="form__ranges">
                              <input id="range_area" class="js-search-range form__ranges-in"></input>
                            </div>
                            <div class="form__inputs js-search-inputs">
                              <input type="text" id="in-area-from" placeholder="From" data-input-type="from" class="form-control js-field-range"></input>
                              <input type="text" id="in-area-to" placeholder="To" data-input-type="to" class="form-control js-field-range"></input>
                            </div>
                          </div>
                          <div class="form__buttons">
                            <button type="submit" class="form__submit">Search</button>
                          </div>
                        </div>
                      </form>
                      <!-- end of block-->
                      <!-- END SEARCH-->
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="widget js-widget widget--landing widget--gray">
          <div class="widget__header">
            <h2 class="widget__title">Real estates</h2>
            <h5 class="widget__headline">Our platform is a safe place to buy and sell properties in </h5>
          </div>
          <div class="widget__content">
            <!-- BEGIN PROPERTIES INDEX-->
            <div class="tab tab--properties">
              <!-- Nav tabs-->
              <ul role="tablist" class="nav tab__nav">
                <li class="active"><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab" class="properties__btn js-pgroup-tab">Popular</a></li>
                <li><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab" class="properties__btn js-pgroup-tab">Recent</a></li>
                <li><a href="#tab-featured" aria-controls="tab-featured" role="tab" data-toggle="tab" class="properties__btn js-pgroup-tab">Featured</a></li>
              </ul>
              <!-- Tab panes-->
              <div class="tab-content">
                <div id="tab-popular" class="tab-pane in active">
                  <div class="listing listing--grid">
                  
                  <ui:repeat value="#{annonceController.annonces}" var="annonce">
                  <h:panelGroup rendered="#{annonce.adState eq 'Accepted'}">
                  
                    <div class="listing__item">
                      <div class="properties properties--grid">
                        <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="../../resources/assets/media-demo/properties/554x360/02.jpg" alt=""/>
                            <figure class="item-photo__hover item-photo__hover--params"><span class="properties__params"> Exterior surface: #{annonce.extSurface} m² </span><span class="properties__params">Number of rooms: #{annonce.numberRooms} </span>
                            <span class="properties__intro">   #{annonce.description} ...</span><span class="properties__time">Added date: #{annonce.createdAt}</span><span class="properties__more">View details</span>
                            </figure></a><span class="properties__ribon">  For #{annonce.contractType}   </span>
                        </div>
                        <!-- end of block .properties__thumb-->
                        <div class="properties__details">
                          <div class="properties__info">
                          <a href="property_details.html" class="properties__address"><span class="properties__address-street"> #{annonce.title} </span><span class="properties__address-city">   #{annonce.city} , #{annonce.country} </span></a>
                           <h:form>
                          <h:commandLink action = "#{annonceController.gotoAnnonceDetail(annonce)}" value = "VIEW DETAILS" ></h:commandLink>
                          </h:form>
                            <div class="properties__offer">
                              <div class="properties__offer-column">
                                <div class="properties__offer-label">    </div>
                                <div class="properties__offer-value"> 
			
                                </div>
                              </div>
                              <div class="properties__offer-column">
                                <div class="properties__offer-value">
                                								<h:panelGroup rendered="#{not annonceController.changecurr and annonce.contractType eq 'rent' }" >
											<div class="properties__offer-value"><strong> #{annonce.price}</strong> $/month </div>
								</h:panelGroup>
								<h:panelGroup rendered="#{not annonceController.changecurr and annonce.contractType eq 'sale' }" >
								<div class="properties__offer-value"><strong> #{annonce.price}</strong> $ </div>
								</h:panelGroup>
								<h:panelGroup rendered="#{ annonceController.changecurr and annonce.contractType eq 'rent' }">
								        <div class="properties__offer-value"><strong> #{(annonce.price*93)/100}</strong><span class="properties__offer-period"> £/month</span></div>
								</h:panelGroup>
								<h:panelGroup rendered="#{ annonceController.changecurr and annonce.contractType eq 'sale' }">
								        <div class="properties__offer-value"><strong> #{(annonce.price*93)/100}</strong><span class="properties__offer-period"> £</span></div>
								</h:panelGroup>		
                                
                                
                                </div>
                              </div>
                            </div>
                            <div class="properties__params--mob"><a  href="#" class="properties__more"></a><span class="properties__params">Built-Up - 65 Sq Ft</span><span class="properties__params">Land Size - 110 Sq Ft</span></div>
                          </div>
                        </div>
                        <!-- end of block .properties__info-->
                      </div>
                      <!-- end of block .properties__item-->
                    </div>
                   
                   
                   </h:panelGroup>
                   </ui:repeat> 
                    
                  </div>
                </div>
                <div id="tab-recent" class="tab-pane">
                  <div class="listing listing--grid">
                    <div class="listing__item">
                      <div class="properties properties--grid">
                        <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="../../resources/assets/media-demo/properties/554x360/06.jpg" alt=""/>
                            <figure class="item-photo__hover item-photo__hover--params item-photo__hover--bottom"><span class="properties__param-type">Retail</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">377 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For rent</span>
                        </div>
                        <!-- end of block .properties__thumb-->
                        <div class="properties__details">
                          <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1230 Martin Luther King</span><span class="properties__address-city">Los Angeles, CA 90037, USA</span></a>
                            <div class="properties__offer">
                              <div class="properties__offer-column">
                                <div class="properties__offer-label">Commision</div>
                                <div class="properties__offer-value"><strong> $550</strong>
                                </div>
                              </div>
                              <div class="properties__offer-column">
                                <div class="properties__offer-value"><strong>$2,255</strong><span class="properties__offer-period">/month</span>
                                </div>
                              </div>
                            </div>
                            <div class="properties__params--mob"><a href="#" class="properties__more">View details</a><span class="properties__params">Built-Up - 505 Sq Ft</span><span class="properties__params">Land Size - 1010 Sq Ft</span></div>
                          </div>
                        </div>
                        <!-- end of block .properties__info-->
                      </div>
                      <!-- end of block .properties__item-->
                    </div>
                   
                    
                  </div>
                </div>
                <div id="tab-featured" class="tab-pane">
                  <div class="listing listing--grid">
                    <div class="listing__item">
                      <div class="properties properties--grid">
                        <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="../../resources/assets/img/no-image--554x360.jpg" alt=""/>
                            <figure class="item-photo__hover item-photo__hover--params"><span class="properties__params">Built-Up - 85 Sq Ft</span><span class="properties__params">Land Size - 90 Sq Ft</span><span class="properties__intro">I am so VERY wide, but she got to do,' said the Hatter. 'You MUST remember,' remarked the King, '...</span><span class="properties__time">Added date: 10 days ago</span><span class="properties__more">View details</span>
                            </figure></a><span class="properties__ribon">For sale</span>
                        </div>
                        <!-- end of block .properties__thumb-->
                        <div class="properties__details">
                          <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">514 East Myrtle Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a>
                            <div class="properties__offer">
                              <div class="properties__offer-column">
                                <div class="properties__offer-label">Commision</div>
                                <div class="properties__offer-value"><strong> 8%</strong>
                                </div>
                              </div>
                              <div class="properties__offer-column">
                                <div class="properties__offer-value"><strong>$79,560</strong>
                                </div>
                              </div>
                            </div>
                            <div class="properties__params--mob"><a href="#" class="properties__more">View details</a><span class="properties__params">Built-Up - 85 Sq Ft</span><span class="properties__params">Land Size - 90 Sq Ft</span></div>
                          </div>
                        </div>
                        <!-- end of block .properties__info-->
                      </div>
                      <!-- end of block .properties__item-->
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="widget__footer"><a href="properties_listing_list.html" class="widget__more">More properties</a></div>
          </div>
        </div>
        <div class="widget js-widget">
          <div class="widget__content">
            <!-- BEGIN SECTION FEATURE-->
            <section class="feature">
              <div class="feature__picture"></div>
              <!-- end of .feature__picture-->
              <div class="container">
                <div class="feature__content">
                  <div class="feature__header">
                    <h3 data-sr="enter right ease-in-out 150px" class="feature__title">Meet Realtyspace</h3>
                    <h4 data-sr="enter right ease-in-out 250px" class="feature__headline">Our mission is to empower consumers with information to make smart decisions. RealtySpace is a real estate marketplace dedicated to helping homeowners, home buyers, sellers, renters and agents find and share information about homes, real estate and home improvement.</h4>
                  </div>
                  <!-- end of block .feature__header-->
                  <div class="feature__list">
                    <div data-sr="enter right ease 150px" class="feature__item">
                      <svg class="feature__icon feature__icon--money-save">
                        <use href="#icon-money-save"></use>
                      </svg>
                      <div class="feature__item-content">
                        <h3 class="feature__item-title">Save money</h3>
                        <div class="feature__text">
                          <p>It starts with our living database of more than 110 million U.S. homes including homes for sale, homes for rent and homes not currently on the market.</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of block .feature__item-->
                    <div data-sr="enter right ease 250px" class="feature__item">
                      <svg class="feature__icon feature__icon--good-sales">
                        <use href="#icon-good-sales"></use>
                      </svg>
                      <div class="feature__item-content">
                        <h3 class="feature__item-title">Good salesmarketing</h3>
                        <div class="feature__text">
                          <p>In addition, RealtySpace operates the largest real estate and rental advertising networks in the U.S. in partnership with Livemile Homes!</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of block .feature__item-->
                    <div data-sr="enter right ease 150px" class="feature__item">
                      <svg class="feature__icon">
                        <use href="#icon-comfort"></use>
                      </svg>
                      <div class="feature__item-content">
                        <h3 class="feature__item-title">Comfort</h3>
                        <div class="feature__text">
                          <p>We are transforming the way consumers make home-related decisions and connect with professionals.</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of block .feature__item-->
                    <div data-sr="enter right ease 250px" class="feature__item">
                      <svg class="feature__icon">
                        <use href="#icon-easy"></use>
                      </svg>
                      <div class="feature__item-content">
                        <h3 class="feature__item-title">Easy to find</h3>
                        <div class="feature__text">
                          <p>It starts with our living database of more than 110 million U.S. homesincluding homes for sale, homes for rent and homes not currently on the market.</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of block .feature__item-->
                  </div>
                  <!-- end of block .feature__list-->
                </div>
                <!-- end of .feature__content-->
              </div>
            </section>
            <!-- END SECTION FEATURE-->
          </div>
        </div>
        <div class="widget js-widget widget--landing widget--gray">
          <div class="widget__header">
            <h2 class="widget__title">Our Agents</h2>
            <h5 class="widget__headline">Our agents are licensed professionals that specialise in searching, evaluating and negotiating the purchase of property on behalf of the buyer. They will sell you real estate. Insights, tips  how-to guides on selling property and preparing your home or investment property for sale and working to maximise your sale price.</h5>
          </div>
          <div class="widget__content">
            <!-- BEGIN SECTION WORKER INDEX-->
            <div class="listing listing--grid listing--lg-4">
              <div class="listing__item">
                <div data-sr="enter bottom move 80px, scale(0), over 0s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--index">
                  <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="../../resources/assets/media-demo/workers/worker-1.jpg" alt="Christopher Pakulla" class="photo"/></a>
                    <div class="worker__details"><span class="worker__post">Realtor, West USA Realty</span>
                      <div class="worker__links"><a class="worker__link">
                          <svg class="worker__link-icon">
                            <use href="#icon-mail"></use>
                          </svg></a><a class="worker__link"><i class="fa fa-linkedin"></i></a><a class="worker__link"><i class="fa fa-facebook"></i></a><a class="worker__link"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
                  <div class="worker__info">
                    <h4 class="worker__name fn">Christopher Pakulla</h4><a href="tel:+44(0)2035102390" class="worker__tel uri">+44 (0) 20 3510 2390</a><a href="agent_profile.html" class="worker__more">Read more</a>
                  </div>
                  <!-- end of block .worker__info-->
                </div>
                <!-- end of block .worker-->
              </div>
              <div class="listing__item">
                <div data-sr="enter bottom move 80px, scale(0), over 0.3s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--index">
                  <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="../../resources/assets/media-demo/workers/worker-2.jpg" alt="Lisa Wemert" class="photo"/></a>
                    <div class="worker__details"><span class="worker__post">Managing Broker/Partner, e-PRO</span>
                      <div class="worker__links"><a class="worker__link">
                          <svg class="worker__link-icon">
                            <use href="#icon-mail"></use>
                          </svg></a><a class="worker__link"><i class="fa fa-linkedin"></i></a><a class="worker__link"><i class="fa fa-facebook"></i></a><a class="worker__link"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
                  <div class="worker__info">
                    <h4 class="worker__name fn">Lisa Wemert</h4><a href="tel:+44(0)203510567" class="worker__tel uri">+44 (0) 20 3510 567</a><a href="agent_profile.html" class="worker__more">Read more</a>
                  </div>
                  <!-- end of block .worker__info-->
                </div>
                <!-- end of block .worker-->
              </div>
              <div class="listing__item">
                <div data-sr="enter bottom move 80px, scale(0), over 0.6s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--index">
                  <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="../../resources/assets/media-demo/workers/worker-3.jpg" alt="Mariusz Ciesla" class="photo"/></a>
                    <div class="worker__details"><span class="worker__post">Real Estate Professional</span>
                      <div class="worker__links"><a class="worker__link">
                          <svg class="worker__link-icon">
                            <use href="#icon-mail"></use>
                          </svg></a><a class="worker__link"><i class="fa fa-linkedin"></i></a><a class="worker__link"><i class="fa fa-facebook"></i></a><a class="worker__link"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
                  <div class="worker__info">
                    <h4 class="worker__name fn">Mariusz Ciesla</h4><a href="tel:+44(0)203510334" class="worker__tel uri">+44 (0) 20 3510 334</a><a href="agent_profile.html" class="worker__more">Read more</a>
                  </div>
                  <!-- end of block .worker__info-->
                </div>
                <!-- end of block .worker-->
              </div>
              <div class="listing__item">
                <div data-sr="enter bottom move 80px, scale(0), over 0.8999999999999999s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--index">
                  <div class="worker__photo"><a href="agent_profile.html" class="item-photo item-photo--static"><img src="../../resources/assets/media-demo/workers/worker-4.jpg" alt="Vladimir Babic" class="photo"/></a>
                    <div class="worker__details"><span class="worker__post">Realtor, CDPE</span>
                      <div class="worker__links"><a class="worker__link">
                          <svg class="worker__link-icon">
                            <use href="#icon-mail"></use>
                          </svg></a><a class="worker__link"><i class="fa fa-linkedin"></i></a><a class="worker__link"><i class="fa fa-facebook"></i></a><a class="worker__link"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
                  <div class="worker__info">
                    <h4 class="worker__name fn">Vladimir Babic</h4><a href="tel:+44(0)2044442390" class="worker__tel uri">+44 (0) 20 4444 2390</a><a href="agent_profile.html" class="worker__more">Read more</a>
                  </div>
                  <!-- end of block .worker__info-->
                </div>
                <!-- end of block .worker-->
              </div>
            </div>
            <!-- END SECTION WORKER INDEX-->
          </div>
        </div>
        <div class="widget js-widget widget--landing">
          <div class="widget__header">
            <h2 class="widget__title">News  Blog</h2>
            <h5 class="widget__headline">Find your apartment or house on the exact key parameters.</h5>
          </div>
          <div class="widget__content">
            <!--include ../widgets/article-->
            <div class="listing listing--grid">
              <div class="listing__item">
                <!-- BEGIN SECTION ARTICLE-->
                <div class="article article--grid"><a href="blog_details.html" class="article__photo"><img src="../../resources/assets/media-demo/news/news-1.jpg" alt="News title" class="article__photo-img"/>
                    <time datetime="2009-08-29" class="article__time">OCT<strong>27</strong></time></a>
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">Sustainable architecture amp; design.</a>
                    <div class="article__intro">
                      <p>With the current state of the global climate and the depletion of natural  resources ...</p>
                    </div><a href="blog_details.html" class="article__more">Read more</a>
                  </div>
                  <!-- end of block .articl-->
                </div>
                <!-- END SECTION ARTICLE-->
              </div>
              <div class="listing__item">
                <!-- BEGIN SECTION ARTICLE-->
                <div class="article article--grid"><a href="blog_details.html" class="article__photo"><img src="../../resources/assets/media-demo/news/news-2.jpg" alt="News title" class="article__photo-img"/>
                    <time datetime="2009-08-29" class="article__time">SEP<strong>02</strong></time></a>
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">You’ve been approved for a rental home.</a>
                    <div class="article__intro">
                      <p>If you bought a home in these four areas during the downturn, you’ll make a tidy ...</p>
                    </div><a href="blog_details.html" class="article__more">Read more</a>
                  </div>
                  <!-- end of block .articl-->
                </div>
                <!-- END SECTION ARTICLE-->
              </div>
              <div class="listing__item">
                <!-- BEGIN SECTION ARTICLE-->
                <div class="article article--grid"><a href="blog_details.html" class="article__photo"><img src="../../resources/assets/media-demo/news/news-3.jpg" alt="News title" class="article__photo-img"/>
                    <time datetime="2009-08-29" class="article__time">AUG<strong>11</strong></time></a>
                  <div class="article__details"><a href="blog_details.html" class="article__item-title">The Block Glasshouse winners.</a>
                    <div class="article__intro">
                      <p>The low-slung ranch house has been reborn. These minimalist designs have high ...</p>
                    </div><a href="blog_details.html" class="article__more">Read more</a>
                  </div>
                  <!-- end of block .articl-->
                </div>
                <!-- END SECTION ARTICLE-->
              </div>
            </div>
            <div class="widget__footer"><a href="blog.html" class="widget__more"> More articles...</a></div>
          </div>
        </div>
        <div class="widget js-widget widget--landing widget--achievement">
          <div class="widget__content">
            <!-- BEGIN SECTION ACHIEVEMENT-->
            <div class="achievement">
              <div class="container">
                <div class="row">
                  <div data-sr="enter right move 0 over 0 wait 0s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
                    <svg class="achievement__icon">
                      <use href="#icon-transactions"></use>
                    </svg>
                    <div data-count-end="755300" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
                    <div class="achievement__counter">755 300</div>
                    <div class="achievement__name">Transactions</div>
                  </div>
                  <div data-sr="enter right move 0 over 0 wait 0.5s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
                    <svg class="achievement__icon">
                      <use href="#icon-customers"></use>
                    </svg>
                    <div data-count-end="17620" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
                    <div class="achievement__counter">17 620</div>
                    <div class="achievement__name">Satisfied Customers</div>
                  </div>
                  <div data-sr="enter right move 0 over 0 wait 1s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
                    <svg class="achievement__icon">
                      <use href="#icon-agency"></use>
                    </svg>
                    <div data-count-end="790" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
                    <div class="achievement__counter">790</div>
                    <div class="achievement__name">Agencies</div>
                  </div>
                  <div data-sr="enter right move 0 over 0 wait 1.5s" data-animate-callback="countUp" data-animate-end="achievement__item--animate-end" class="achievement__item">
                    <svg class="achievement__icon">
                      <use href="#icon-sales"></use>
                    </svg>
                    <div data-count-end="1528715" data-count-duration="1" class="achievement__counter achievement__counter--lg js-count-up"></div>
                    <div class="achievement__counter">1 528 715</div>
                    <div class="achievement__name">Sales amp; Rents</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SECTION ACHIEVEMENT-->
          </div>
        </div>
        
        <div class="widget js-widget">
          <div class="widget__content">
            <!-- BEGIN BLOCK GO SUBMIT-->
            <div data-sr="flip 45deg over 0.5s" class="gosubmit">
              <div class="container">
                <div class="gosubmit__title">
                  <div class="gosubmit__title__row gosubmit__title__row--first">Looking to</div>
                  <div class="gosubmit__title__row gosubmit__title__row--second"><span class="gosubmit__title__option">Sell</span>or<span class="gosubmit__title__option">Rent</span></div>
                  <div class="gosubmit__title__row gosubmit__title__row--third">Your Property?</div>
                </div>
                <!-- end of block .gosubmit__title--><a href="my_listings_add_edit.html" class="gosubmit__btn">Submit now</a>
              </div>
            </div>
            <!-- END BLOCK GO SUBMIT-->
          </div>
        </div>
        <div class="center">
          <div class="container">
          </div>
        </div>
        <!-- END CENTER SECTION-->
        
       
       
       
	<ui:include src="/template/footer.xhtml" />
       
      </div>
    </div>
    <button type="button" class="scrollup js-scrollup"></button>
    <!-- end of block .scrollup-->
    <!-- BEGIN SCRIPTS and INCLUDES-->
  


</body>



















    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,drawing,geometry"></script>
    <script type="text/javascript" src="http://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/vendor.js"></script>
   
    <script type="text/javascript" src="../../resources/assets/js/demodata.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/app.js"></script>
 
    <script type="text/javascript" src="../../resources/assets/js/demo.js"></script>
  
        
    







<h:panelGroup> 
<h:form> 
<h:outputText 
value="Bonjour #{userController.login}" /> 
|
 <h:commandLink value="Déconnexion" action="#{userController.doLogout()}" />
  </h:form>
   </h:panelGroup>
   
  </ui:define>
  </ui:composition>
  
   