<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">



	<h:panelGroup>
	
	      <!-- BEGIN HEADER-->
      <header class="header header--overlay header--dark">
        <div class="container">
          <div class="header__row"><a href="index.html" class="header__logo">
              <svg>
                <use href="#icon-logo--mob"></use>
              </svg></a>
            <div class="header__settings">
              <div class="header__settings-column">
                <div class="dropdown dropdown--header">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle dropdown__btn">
                    <svg class="header__settings-icon">
                      <use href="#icon-money"></use>
                    </svg>USD
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">EUR</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">DLR</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end of block .header__settings-column-->
              <div class="header__settings-column">
                <div class="switch switch--header">
                  <label>M <sup>2</sup>
                    <input type="checkbox" > </input> <span class="lever"> </span>Sq Ft
                  </label>
                </div>
              </div>
              <!-- end of block .header__settings-column-->
              <div class="header__settings-column">
                <div class="dropdown dropdown--header">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle dropdown__btn">
                    <svg class="header__settings-icon">
                      <use href="#icon-earth"></use>
                    </svg>Eng
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Francais</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Italian</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Russian</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="header__contacts"><a href="tel:+21699999999" class="header__phone">
                <svg class="header__phone-icon">
                  <use href="#icon-phone"></use>
                </svg><span class="header__span">+1 202 555 0135</span></a></div>
            <!-- end of block .header__contacts-->
            <div class="header__social">
              <div class="social social--header social--circles"><a href="#" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>
            </div>
            <div class="auth auth--header">
              <ul class="auth__nav">
                <li class="dropdown auth__nav-item">
                  <div class="dropdown__menu auth__dropdown--restore">
                    <!-- BEGIN AUTH RESTORE-->
                    <h5 class="auth__title">Reset password</h5>
                    <form action="#" class="form form--flex form--auth form--restore js-restore-form js-parsley">
                      <div class="row">
                        <div class="form-group">
                          <label for="restore-email-dropdown" class="control-label">Enter your User Name or Email</label>
                          <input type="email" name="email" id="restore-email-dropdown" class="form-control"></input>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="form__submit">Reset password</button>
                      </div>
                      <div class="row">
                        <div class="form__options">Back to
                          <button type="button" class="js-user-login">Log In</button>or
                          <button type="button" class="js-user-register">Registration</button>
                        </div>
                        <!-- end of block .auth__links-->
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH RESTORE-->
                  </div>
                </li>
                <li class="dropdown auth__nav-item">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle js-auth-nav-btn auth__nav-btn">
                    <svg class="auth__icon-user">
                      <use href="#icon-user"></use>
                    </svg><span class="header__span"> Log in /</span>
                  </button>
                  <div class="dropdown__menu auth__dropdown--login">
                    <!-- BEGIN AUTH LOGIN-->
                    <h5 class="auth__title">Login in your account</h5>
                    <form action="#" class="form form--flex form--auth js-login-form js-parsley">
                      <div class="row">
                        <div class="form-group">
                          <label for="login-username-dropdown" class="control-label">Username</label>
                          <input type="text" name="username" id="login-username-dropdown"  data-parsley-trigger="keyup" data-parsley-minlength="6" data-parsley-validation-threshold="5" data-parsley-minlength-message="Login should be at least 6 chars" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="login-password-dropdown" class="control-label">Password</label>
                          <input type="password" name="password" id="login-password-dropdown"  class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="form__options form__options--forgot">
                          <button type="button" class="js-user-restore">Forgot password ?</button>
                        </div>
                        <button type="submit" class="form__submit">Sign in</button>
                      </div>
                      <div class="form__remember">
                        <input type="checkbox" id="remember-in-dropdown" class="in-checkbox" />
                        <label for="remember-in-dropdown" class="in-label">Remember me</label>
                      </div>
                      <div class="row">
                        <div class="form__options">Not a user yet?
                          <button type="button" class="js-user-register">Get an account</button>
                        </div>
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH LOGIN-->
                  </div>
                </li>
                <li class="dropdown auth__nav-item">
                  <button data-toggle="dropdown" type="button" class="dropdown-toggle auth__nav-btn"><span class="header__span">  Sign up</span></button>
                  <div class="dropdown__menu auth__dropdown--register">
                    <!-- BEGIN AUTH REGISTER-->
                    <h5 class="auth__title">Sign up a new account</h5>
                    <form action="#" class="form form--flex form--auth js-register-form js-parsley">
                      <div class="row">
                        <div class="form-group form-group--col-6">
                          <label for="register-name-dropdown" class="control-label">First name</label>
                          <input type="text" name="username" id="register-name-dropdown"  class="form-control" />
                        </div>
                        <div class="form-group form-group--col-6">
                          <label for="register-lastname-dropdown" class="control-label">Last name</label>
                          <input type="text" name="name" id="register-lastname-dropdown"  class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group form-group--col-6">
                          <label for="register-email-dropdown" class="control-label">E-mail</label>
                          <input type="email" name="email" id="register-email-dropdown"  class="form-control" />
                        </div>
                        <div class="form-group form-group--col-6">
                          <label for="register-password-dropdown" class="control-label">Password</label>
                          <input type="password" name="password" id="register-password-dropdown"  class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="form__options">Back to
                          <button type="button" class="js-user-login">Log In</button>
                        </div>
                        <button type="submit" class="form__submit">Sign up</button>
                      </div>
                    </form>
                    <!-- end of block .auth__form-->
                    <!-- END AUTH REGISTER-->
                  </div>
                </li>
              </ul>
              <!-- end of block .auth header-->
            </div>
            <button type="button" class="header__navbar-toggle js-navbar-toggle">
              <svg class="header__navbar-show">
                <use href="#icon-menu"></use>
              </svg>
              <svg class="header__navbar-hide">
                <use href="#icon-menu-close"></use>
              </svg>
            </button>
            <!-- end of block .header__navbar-toggle-->
          </div>
        </div>
      </header>
      <!-- END HEADER-->
	
	
	
	
	
	
      <!-- BEGIN NAVBAR-->
      <div id="header-nav-offset"></div>
      <nav id="header-nav" class="navbar navbar--header navbar--overlay">
        <div class="container">
          <div class="navbar__row js-navbar-row"><a href="index.html" class="navbar__brand">
              <svg class="navbar__brand-logo">
                <use href="#icon-logo"></use>
              </svg></a>
            <div id="navbar-collapse-1" class="navbar__wrap">
              <ul class="navbar__nav">
                <li class="navbar__item js-dropdown active"><a class="navbar__link">Home
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        
                        
                       
                       <h:form>
   							<h:commandLink action = "#{userController.gotoHomepageUser()}" value = "Page1"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Advertisements
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                   </button>

						     <h:form>
   							<h:commandLink action = "#{userController.gotolistAdvertisement()}" value = "Ads list"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Profile
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                       
                    	<h:form>
   							<h:commandLink action = "#{userController.gotoLogin()}" value = "test"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       <h:form>
   							<h:commandLink action = "#{userController.gotoUserProfile()}" value = "UserProfile"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">User
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                   
                    <h:form>
   							<h:commandLink action = "#{userController.gotoRent()}" value = "Test salsabil"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                   </div>
                   
                   
                   
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Blog
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                  
                  
                  			 <h:form>
   							<h:commandLink action = "#{userController.gotoBuy()}" value = "Test Eya"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                   </div>
                   
                   
                  
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Pages
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                  
                      
                      
                      
                      
                       <h:form>
   							<h:commandLink action = "#{userController.gotoSubscribe()}" value = "Test Amir"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                   </div>
                   
                   
                   </li>
                <li class="navbar__item"><a href="contacts.html" class="navbar__link">Contacts 
                <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                
                
                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoMeuble()}" value = "Test Oumema"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                     </ul>
                    </div>
                  </div>
                  </li>
                  
                  
                <li class="navbar__item js-dropdown"><a class="navbar__link">Dashboard
                 <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                   
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoVirtualVisit()}" value = "Test Chaima"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                     </ul>
                    </div>
                  </div>
                </li>
                
                
                
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Language
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">English</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Francais</a></li>
                      
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Currency
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">USD</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">EURO</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">RUB</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
               
              </ul>
              <!-- end of block  navbar__nav-->
            </div>
          </div>
        </div>
      </nav>
      <!-- END NAVBAR-->
      
      
      
      

<!-- BEGIN SLIDER-->
            <div id="slider-wide" class="slider slider--wide">
              <div class="slider__block js-slick-slider">
                <div class="slider__item">
                  <div class="slider__preview">
                    <div class="slider__img slider__img--lg"><img data-lazy="../../resources/assets/media-demo/properties/2336x1100/01.jpg" src="assets/img/lazy-image.jpg" alt=""></img></div>
                    <div class="slider__img slider__img--sm"><img data-lazy="../../resources/assets/media-demo/properties/830x540/01.jpg" src="assets/img/lazy-image.jpg" alt=""></img></div>
                  </div>
                  <div class="slider__caption">
                    <div class="slider__price"><strong>$8780</strong>per month
                    </div>
                    <!-- end of block .slider__price--><a href="property_details.html" class="slider__address">401 South Sycamore Street<span class="slider__address-city"> Santa Ana, CA 92701, USA</span></a>
                    <!-- end of block .slider__address-->
                    <div class="slider__params">
                      <dl>
                        <dt>Type:</dt>
                        <dd>Seniors Housing</dd>
                        <dt>Area:</dt>
                        <dd>460m2</dd>
                        <dt>Elevator:</dt>
                        <dd>Yes</dd>
                      </dl>
                      <dl>
                        <dt>Bedrooms:</dt>
                        <dd>1</dd>
                        <dt>Baths:</dt>
                        <dd>1</dd>
                        <dt>Kitchen:</dt>
                        <dd>Yes</dd>
                      </dl>
                    </div>
                    <!-- end of block .slider__params--><a href="property_details.html" class="slider__more">Details</a>
                  </div>
                  <!-- end of block .slider__caption-->
                </div>
               
                
               
                <div class="slider__item">
                  <div class="slider__preview">
                    <div class="slider__img slider__img--lg"><img data-lazy="../../resources/assets/media-demo/properties/2336x1100/06.jpg" src="assets/img/lazy-image.jpg" alt=""></img></div>
                    <div class="slider__img slider__img--sm"><img data-lazy="../../resources/assets/media-demo/properties/830x540/06.jpg" src="assets/img/lazy-image.jpg" alt=""></img></div>
                  </div>
                  <div class="slider__caption">
                    <div class="slider__price"><strong>$2,255</strong>per month
                    </div>
                    <!-- end of block .slider__price--><a href="property_details.html" class="slider__address">1230 Martin Luther King<span class="slider__address-city">Los Angeles, CA 90037, USA</span></a>
                    <!-- end of block .slider__address-->
                    <div class="slider__params">
                      <dl>
                        <dt>Type:</dt>
                        <dd>Retail</dd>
                        <dt>Area:</dt>
                        <dd>377m2</dd>
                        <dt>Elevator:</dt>
                        <dd>Yes</dd>
                      </dl>
                      <dl>
                        <dt>Bedrooms:</dt>
                        <dd>2</dd>
                        <dt>Baths:</dt>
                        <dd>2</dd>
                        <dt>Kitchen:</dt>
                        <dd>Yes</dd>
                      </dl>
                    </div>
                    <!-- end of block .slider__params--><a href="property_details.html" class="slider__more">Details</a>
                  </div>
                  <!-- end of block .slider__caption-->
                </div>
              </div>
              <!-- end of block .slider__block-->
              <div class="slider__controls">
                <button class="slider__control slider__control--prev js-banner-prev"></button>
                <button class="slider__control slider__control--next js-banner-next"></button>
              </div>
            </div>
            <!-- END SLIDER-->
            
          
	
	</h:panelGroup>

</ui:composition>