<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	
	
	
	
	








      <!-- BEGIN NAVBAR-->
      <div id="header-nav-offset"></div>
      <nav id="header-nav" class="navbar navbar--header">
        <div class="container">
          <div class="navbar__row js-navbar-row"><a href="index.html" class="navbar__brand">
              <svg class="navbar__brand-logo">
                <use href="#icon-logo"></use>
              </svg></a>
            <div id="navbar-collapse-1" class="navbar__wrap">
              <ul class="navbar__nav">
                <li class="navbar__item js-dropdown"><a class="navbar__link">Home
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        
                       <h:form>
   							<h:commandLink action = "#{userController.gotoHomepageUser()}" value = "Page1"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Advertisements
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <h5 class="navbar__subtitle">Details</h5>
                      <ul class="navbar__subnav">
                       

					 <h:form>
   							<h:commandLink action = "#{userController.gotolistAdvertisement()}" value = "Ads list"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       <h:form>
   							<h:commandLink action = "#{userController.gotoAnnonceAdd()}" value = "Add property"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       
                       <h:form>
   							<h:commandLink action = "#{userController.gotoAnnonceDetail()}" value = "Ad detail"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
					
					 </ul>
                    </div>
                    <div class="navbar__submenu">
                      
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Agents
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                      
                      <h:form>
   							<h:commandLink action = "#{userController.gotoLogin()}" value = "test"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form>
                       <h:form>
   							<h:commandLink action = "#{userController.gotoUserProfile()}" value = "UserProfile"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                      
                      
                      
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown active"><a class="navbar__link">User
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-2">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                     
                       <h:form>
   							<h:commandLink action = "#{userController.gotoRent()}" value = "Test salsabil"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                   </div>
                   
                   
                   
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Blog
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                       

						 <h:form>
   							<h:commandLink action = "#{userController.gotoBuy()}" value = "Test Eya"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                       
                       </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item js-dropdown"><a class="navbar__link">Pages
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                       
                       
                       
                       
                        
                       <h:form>
   							<h:commandLink action = "#{userController.gotoSubscribe()}" value = "Test Amir"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                       
                       
                    </ul>   
                       
                       </div>
                       </div>
                       </li>
                       
                <li class="navbar__item"><a href="contacts.html" class="navbar__link">Contacts
                
                 <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                
                
                <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoMeuble()}" value = "Test Oumema"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                     </ul>
                    </div>
                  </div>
                  </li>
                  
                  
                  
                  
                <li class="navbar__item js-dropdown"><a class="navbar__link">Dashboard
                <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                   
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--colls-1">
                    
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                     
                     
                      <h:form>
   							<h:commandLink action = "#{userController.gotoVirtualVisit()}" value = "Test Chaima"  class="navbar__sublink js-navbar-sublink">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       </h:form> 
                     
                     
                     
                     </ul>
                    </div>
                  </div>
                </li>
                
                
                
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Language
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">English</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Francais</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Italian</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">Russian</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Currency
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <ul class="navbar__subnav">
                        <li class="navbar__subitem active"><a href="" class="navbar__sublink js-navbar-sublink">USD</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">EURO</a></li>
                        <li class="navbar__subitem"><a href="" class="navbar__sublink js-navbar-sublink">RUB</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="navbar__item navbar__item--mob js-dropdown"><a class="navbar__link">Measures
                    <svg class="navbar__arrow">
                      <use href="#icon-arrow-right"></use>
                    </svg></a>
                  <div role="menu" class="js-dropdown-menu navbar__dropdown navbar__dropdown--right">
                    <button class="navbar__back js-navbar-submenu-back">
                      <svg class="navbar__arrow">
                        <use href="#icon-arrow-left"></use>
                      </svg>Back
                    </button>
                    <div class="navbar__submenu">
                      <div class="switch switch--menu">
                        <label>M <sup>2</sup>
                          <input type="checkbox" ></input><span class="lever"></span>Sq Ft
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- end of block  navbar__nav-->
            </div>
          </div>
        </div>
      </nav>
      <!-- END NAVBAR-->
      
      
      
      </ui:composition>
	