<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     >
<h:head>
<title>#{page_name}</title>
	<script name="jquery/jquery.js" library="primefaces"></script>
		<link href="../../resources/assets/css/vendor.css" rel="stylesheet" />
		<link href="../resources/assets/css/font-awesome.css"
			rel="stylesheet" />
		<link href="../resources/assets/css/theme-light_blue-beige.css"
			rel="stylesheet" />
		<link href="../resources/assets/css/custom.css" rel="stylesheet" />
		<link href="../resources/assets/css/ie-fix.css" rel="stylesheet" />
		<!--link href="../../resources/assets/img/favicon.ico" rel="stylesheet" /-->
		<link href="../resources/assets/img/favicon.ico"  type="image/x-icon" />
</h:head>
<h:body>
	<ui:include src="/template/navbar.xhtml" />
	<ui:insert name="menu" />
	<ui:insert name="content" />
	<ui:include src="/template/footer.xhtml" />
</h:body>
</html>