<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	
	template="/template/template3.xhtml"> 
	
	<ui:param name="page_name" value="Connexion" />
	<ui:define name="menu">
	
	
	
	<h:head>
		<title>inscription</title>
		<h:outputStylesheet library="default" name="css/style.css"  />
		
		
		<link href="resources/assets/css/vendor.css"  rel="stylesheet" />
		<link href="resources/assets/css/font-awesome.css"  rel="stylesheet" />
		<link href="resources/assets/css/theme-blue-orange_red.css"  rel="stylesheet" />
		<link href="resources/assets/css/custom.css"  rel="stylesheet" />
		<link href="resources/assets/css/ie-fix.css"  rel="stylesheet" />
		<link href="resources/assets/img/favicon.ico" rel="stylesheet" />
		<link href="resources/assets/img/favicon.ico" rel="stylesheet" type="image/x-icon" />
		
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext" type="text/css"  rel="stylesheet" />
	</h:head>
	
	
	
	
	<head lang="en">
    <meta charset="UTF-8"></meta>
    <title>Dari - Real Estate Market</title><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
   
 
   
  </head>
  <body class="user_login menu-default hover-default ">
  
  
    
        <div class="center">
          <div class="container">
            <div class="row">
              <section class="site">
                
                <div class="site__main">
                  <div class="widget js-widget widget--main widget--no-border">
                    <div class="widget__content">
                      <div class="auth auth--inline">
                      
                         
                            
                            
                            
         <div class="auth__wrap auth__wrap--login">    
        <h:form id="form"  styleClass="login-form">
		<h1>LogIn</h1>
		

			
			<h:panelGrid >
			  <h5 class="auth__title">Login to your account</h5>
                   <form action="#" class="form form--flex form--auth js-login-form js-parsley">
                       <div class="row">
                              <div class="form-group">
                               
			
								<h:outputText value="Login (Email)" class="control-label"/>
								<h:inputText value="#{userController.login}"  type="text" name="username" id="login-username-inline" data-parsley-trigger="keyup" data-parsley-minlength="6" data-parsley-validation-threshold="5" data-parsley-minlength-message="Login should be at least 6 chars" class="form-control"  />
							</div>
							<div class="form-group">
			
								<h:outputText value="Mot de passe" />
								<h:inputSecret value="#{userController.password}"  type="password" name="password" id="login-password-inline"  class="form-control" />
							</div>
					</div>
					
					      <div class="row">
                              <div class="form__options form__options--forgot"><a href="user_restore_pass.html">Forgot password ?</a>
                              </div>
                              
                              
				<h:commandButton type="submit" class="form__submit" id="btn" value="Connexion"
					action="#{userController.doLogin()}" />
				<h:message for="btn" />
				
				</div>
				   <div class="form__remember">
                              <input type="checkbox" id="remember-in-inline" class="in-checkbox"></input>
                              <label for="remember-in-inline" class="in-label">Remember me</label>
                            </div>
                         
                             
                               
                               
   							<h:commandLink action = "#{userController.gotoVirtualVisit()}" value = "Register"  class="form__options">
  						    	<f:param name = "pageId" value = "1" />
   							</h:commandLink>
                       
                      
                              
                              
				</form>
			
			</h:panelGrid>
		</h:form>
		</div>
		
		
		
		
		
		
		
	
	
	
	
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      

    <button type="button" class="scrollup js-scrollup"></button>
 
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,drawing,geometry"></script>
    <script type="text/javascript" src="http://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
  
    <script type="text/javascript" src="resources/assets/js/vendor.js"></script>

    <script type="text/javascript" src="resources/assets/js/demodata.js"></script>
  
    <script type="text/javascript" src="resources/assets/js/app.js"></script>
 
    <script type="text/javascript" src="resources/assets/js/demo.js"></script>
   
  </body>
  
  
  
  
  
  
  
  
  
	
	</ui:define>
	
	
	
	
	
	


</ui:composition>